<style>
.wrapper {
    text-align: center;
}

p.serif {
    font-family: "Book Antiqua", Palatino, serif;
}

textarea{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: black; 
    border-radius: 15px 50px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Palatino;
}

.button2 {
    background-color: #F3F7F6;
    color: black;
    border: 4px solid #4d3300;
    position: absolute;
    left: 50%;
    bottom: 100px;
    }

.button2:hover {
    background-color: #999999;
    color: white;
}

.placement {
    font: bold;
    color: black;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top:95px;
}
</style>
